---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?author=Voltaire&q=Candide
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.578 TT 0 0.865"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3151,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_alternative_name": [
                        "Voltaire Fran\u00e7ois-Marie Arouet",
                        "Autor Voltaire",
                        "Francois Marie Arouet (Voltaire)",
                        "Francois-Marie Arouet (Voltaire)",
                        "Fran\u00e7ois-Marie Arouet",
                        "F. M. de Voltaire",
                        "Francois-Marie Arouet",
                        "Fran\u00e7ois-Marie Voltaire",
                        "Francois Marie Arouet",
                   [...]
