---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search/authors.json?q=Voltaire
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 1.528 TT 0 1.541"'
    body:
      encoding: UTF-8
      string: '{"numFound": 158, "start": 0, "numFoundExact": true, "docs": [{"alternate_names":
        ["F. M. de Voltaire", "J. F. M. de Voltaire", "Jean Francois Marie Arouet
        de Voltaire", "Jean Francois-Mari Arouet de Voltaire", "Voltaire Voltaire",
        "voltaire candide", "De Voltaire", "Voltaire Fran\u00e7ois-Marie Arouet",
        "Voltaire/ de Lisle", "VOLTAIRE", "1694-1778 Voltaire", "Nom de plume VOLTAIRE",
        "Voltaire (Francois Marie Arouet Voltaire)", "\u0412\u043e\u043b\u044c\u0442\u0435\u0440",
        "Francois Marie Arouet De Voltaire", "Francois Marie Arouet de Voltaire",
        "Fran\u00e7ois Marie Arouet de Voltaire", "Francois Marie Arouet Voltaire",
        "Fran\u00e7ois-Marie Arouet de Voltaire", "Fran\u00e7ois-Marie AROUET", "Jean
        Francois Marie Arouet De Voltaire", "Fran\u00e7ois-Marie Arouet Voltaire",
        "Fran\u00e7ois Marie Arouet", "Francois Marie Arouet", "Francois-Marie Arouet",
        "Fran\u00e7ois-Marie Arouet", "Fran\u00e7ois (Francois) Marie Arouet", "Voltaire
        (Francois Marie Arouet)", "Fran\u00e7ois Marie Arouet Voltaire", "Fran\u00e7ois
        Marie de Voltaire", "Francois Marie Arouet (Voltaire)", "Voltaire 1694-1778",
        "Francois-Marie Arouet (Voltaire)", "Fran\u00e7ois-Marie Voltaire", "Frangois
        Marie Voltaire", "M. Voltaire", "Voltaire (Fran\u00e7ois Marie Arouet)", "Autor
        Voltaire"], "birth_date": "21 November 1694", "death_date": "30 May 1778",
        "key": "OL32293A", "name": "Voltaire", "top_subjects": ["History", "Voltaire
        (1694-1778)", "France", "18th century", "Philosophy", "Voltaire, 1694-1778",
        "Early works to 1800", "World history", "French literature, history and criticism,
        18th century", "Louis XIV, 1643-1715"], "top_work": "Candide", "type": "author",
        "work_count": 3078, "ratings_average": 3.9135802, "ratings_sortable": 3.691644,
        "ratings_count": 81, "ratings_count_1": 0, "ratings_count_2": 6, "ratings_count_3":
        18, "ratings_count_4": 34, "ratings_count_5": 23, "want_to_read_count": 481,
        "already_read_count": 139, "currently_reading_count": 29, "readinglog_count":
        649, "_version_": 1821008574208278531}, {"key": "OL2798659A", "name": "Voltaire
        Foundation", "top_subjects": ["18th century", "History", "Voltaire (1694-1778)",
        "History and criticism", "France", "Voltaire, 1694-1778", "Intellectual life",
        "French literature", "France, intellectual life", "Criticism and interpretation"],
        "top_work": "Correspondance de Madame de Graffigny", "type": "author", "work_count":
        38, "_version_": 1796008826707640324}, {"key": "OL864463A", "name": "[...]
