---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?author=Voltaire&q=NonExistentBook123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.041 TT 0 0.041"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "NonExistentBook123456789",
            "offset": null
        }
  recorded_at: Wed, 15 Jan 2025 15:39:25 GMT
recorded_with: VCR 6.3.1
