---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search/authors.json?q=NonExistentAuthor123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 1.142 TT 0 1.143"'
    body:
      encoding: UTF-8
      string: '{"numFound": 0, "start": 0, "numFoundExact": true, "docs": []}'
  recorded_at: Wed, 15 Jan 2025 15:36:57 GMT
recorded_with: VCR 6.3.1
