---
http_interactions:
- request:
    method: get
    uri: http://api.conceptnet.io/c/en/money
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.conceptnet.io:443/c/en/money
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 06 Jan 2025 20:03:55 GMT
- request:
    method: get
    uri: https://api.conceptnet.io/c/en/money
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"@context": ["http://api.conceptnet.io/ld/conceptnet5.7/context.ld.json"],
        "@id": "/c/en/money", "edges": [{"@id": "/a/[/r/RelatedTo/,/c/en/bank/,/c/en/money/]",
        "@type": "Edge", "dataset": "/d/verbosity", "end": {"@id": "/c/en/money",
        "@type": "Node", "label": "money", "language": "en", "term": "/c/en/money"},
        "license": "cc:by/4.0", "rel": {"@id": "/r/RelatedTo", "@type": "Relation",
        "label": "RelatedTo"}, "sources": [{"@id": "/and/[/s/process/split_words/,/s/resource/verbosity/]",
        "@type": "Source", "contributor": "/s/resource/verbosity", "process": "/s/process/split_words"},
        {"@id": "/s/resource/verbosity", "@type": "Source", "contributor": "/s/resource/verbosity"}],
        "start": {"@id": "/c/en/bank", "@type": "Node", "label": "bank", "language":
        "en", "term": "/c/en/bank"}, "surfaceText": "[[bank]] is related to [[money]]",
        "weight": 12.580461040836301}, {"@id": "/a/[/r/RelatedTo/,/c/en/wallet/,/c/en/money/]",
        "@type": "Edge", "dataset": "/d/verbosity", "end": {"@id": "/c/en/money",
        "@type": "Node", "label": "money", "language": "en", "term": "/c/en/money"},
        "license": "cc:by/4.0", "rel": {"@id": "/r/RelatedTo", "@type": "Relation",
        "label": "RelatedTo"}, "sources": [{"@id": "/and/[/s/process/split_words/,/s/resource/verbosity/]",
        "@type": "Source", "contributor": "/s/resource/verbosi[...]
