<% if @topics.present? %>
  <div class="absolute z-10 mt-2 w-full overflow-hidden rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5">
    <ul role="list" class="divide-y divide-gray-200">
      <% @topics.each do |topic| %>
        <li>
          <%= link_to send("#{topic.route_key}_path", topic), 
              class: "block px-4 py-2 hover:bg-gray-50 focus:bg-gray-50" do %>
            <div class="flex items-center">
              <span class="font-medium text-gray-900"><%= topic.title %></span>
              <% if topic.part_of_speech.present? %>
                <span class="ml-2 text-sm text-gray-500">
                  (<%= abbreviate_part_of_speech(topic.part_of_speech) %>.)
                </span>
              <% end %>
            </div>
            <% if topic.definitions.first %>
              <p class="mt-1 text-sm text-gray-500 line-clamp-2">
                <%= strip_tags(topic.definitions.first.content.to_plain_text).truncate(100) %>
              </p>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %> 