<% content_for :title, "People - #{@topic.title}" %>

<%= turbo_frame_tag "content" do %>
  <div class="bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
          People Related to <%= @topic.title.titleize %>
        </h3>
        
        <%= render "topics/people/search_buttons" %>
      </div>

      <div class="divide-y divide-gray-200">
        <%= render partial: "topics/people/person", collection: @people %>
      </div>
    </div>
  </div>
<% end %> 